
.main-content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: #00000082;
}
.second-content {
  background: white;
  width: 600px;
  height: auto;
  border-radius: 10px;
  border: 1px solid #f39500;
}
.content-header {
  display: flex;
  background-color: #f39500;
  padding: 0 1rem;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;
}
h2.title-wall {
  color: white;
  font-size: 1.3rem;
}
.close-popup {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 0.8rem;
  margin-right: -10px;
}
.contend-body {
  display: flex;
  padding: 1rem;
}
.image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
}
.paragraph {
  text-align: justify;
  padding-right: 5px;
}
a.linkpdf {
  text-decoration: none;
  color: #dc7b31;
  font-size: 1.2rem;
}